// Сброс свойств последствий свойства float
%clearfix {
  &:after {
    position   : static;
    display    : block;
    height     : 0;
    clear      : both;
    content    : "";
    visibility : hidden;
  }
}
// Радиус границ блока
@mixin border_radius($left_top_corner, $right_top_corner, $right_bottom_corner, $left_bottom_corner) {
  -webkit-border-radius : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  -moz-border-radius    : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  border-radius         : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
}
// Двойной вертикальный градиент
@mixin double_gradient($color_1, $color_2) {
  background: $color_1; /* Old browsers */
  background: -moz-linear-gradient(top, $color_1 0%, $color_2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_1), color-stop(100%,$color_2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color_1 0%,$color_2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color_1 0%,$color_2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $color_1 0%,$color_2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $color_1 0%,$color_2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 ); /* IE6-9 */
}
// Тень блока
@mixin box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : $offset_x $offset_y $blur $tension $color;
  box-shadow         : $offset_x $offset_y $blur $tension $color;
}
