@font-face {
  font-family: 'istok_webregular';
  src: url('../fonts/istokweb-regular/istokweb-regular.eot');
  src: url('../fonts/istokweb-regular/istokweb-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/istokweb-regular/istokweb-regular.woff') format('woff'),
  url('../fonts/istokweb-regular/istokweb-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}