@import "constructions";

$desktop_width: 1020px;
// Вычисление медиа-запросов
@mixin respond-to-max($width) {
  @media only screen and (max-width : $width - 1) {
    @content;
  }
}
@mixin respond-to-min($width) {
  @media only screen and (min-width : $width) {
    @content;
  }
}

.section {
  width  : 100%;
  min-width    : $desktop_width;
}

// Линия сетки
.inner_row {
  width: auto !important;
  min-width: auto !important;
}
.g_row {
  position : relative;
  width    : $desktop_width;
  min-width    : $desktop_width;
  margin   : 0 auto;
  @extend %clearfix;

  @include respond-to-max($desktop_width) {
    //margin-left : -4px;
  }

  @include respond-to-min($desktop_width) {
    //margin-left : -20px;
  }

  [class*=g_col_] {
    float        : left;
    position     : relative;
    box-sizing   : border-box;
    z-index      : 100;
    min-height   : 1px;
  }
}

// Колонки для десктоп-разрешения
@media screen {

  [class*=g_col_] {
    padding-left  : 10px;
    padding-right : 10px;
  }

  .g_col_d_1 {
    width : 8.33333333%;
  }

  .g_col_d_2 {
    width : 16.66666667%;
  }

  .g_col_d_3 {
    width : 25%;
  }

  .g_col_d_4 {
    width : 33.33333333%;
  }

  .g_col_d_5 {
    width : 41.66666667%;
  }

  .g_col_d_6 {
    width : 50%;
  }

  .g_col_d_7 {
    width : 58.33333333%;
  }

  .g_col_d_8 {
    width : 66.66666667%;
  }

  .g_col_d_9 {
    width : 75%;
  }

  .g_col_d_10 {
    width : 83.33333333%;
  }

  .g_col_d_11 {
    width : 91.66666667%;
  }

  .g_col_d_12 {
    width : 100%;
  }

}

// Колонки для мобильного разрешения
@media screen and (max-width : $desktop_width) {

  [class*=g_col_] {
    padding-left  : 4px;
    padding-right : 4px;
  }

  .g_col_m_1 {
    width : 8.33333333%;
  }

  .g_col_m_2 {
    width : 16.66666667%;
  }

  .g_col_m_3 {
    width : 25%;
  }

  .g_col_m_4 {
    width : 33.33333333%;
  }

  .g_col_m_5 {
    width : 41.66666667%;
  }

  .g_col_m_6 {
    width : 50%;
  }

  .g_col_m_7 {
    width : 58.33333333%;
  }

  .g_col_m_8 {
    width : 66.66666667%;
  }

  .g_col_m_9 {
    width : 75%;
  }

  .g_col_m_10 {
    width : 83.33333333%;
  }

  .g_col_m_11 {
    width : 91.66666667%;
  }

  .g_col_m_12 {
    width : 100%;
  }

}