@import "sliders";
@import "fonts";
@import "constructions";
@import "grid";
/*
  toDO: Добавить анимацию на боковое меню + добавить стиль активного пункта меню

*/

$text_color_1: #95a0a6;
$text_color_2: #88949a;
$text_color_3: #a00038;
$text_color_4: #feffff;
$text_color_5: #ffcc00;
$text_color_6: #3c4549;
$text_color_7: #000000;
$text_color_8: #edad00;
$border_color_1: #dae0e4;
$border_color_2: #3b3b3b;
$border_color_3: #2d2d2d;
$border_color_4: #f3f3f3;
$border_color_5: #ffffff;
$border_color_6: #f0f4f7;
$border_color_7: #dde2e6;
$border_color_8: #a00038;
$border_color_9: #bbc6cc;
$border_color_10: #eef0f1;
$bg_color_1: #3b3b3b;
$bg_color_2: #2d2c2c;
$bg_color_3: #3a3a3a;
$bg_color_4: #080808;
$bg_color_5: #dde2e6;
$bg_color_6: #ffffff;
$bg_color_7: #ffcc00;
$bg_color_8: #e8b505;
$bg_color_9: #c3ccd1;
$bg_color_10: #e8ebed;
$bg_color_11: #eebf02;
$bg_color_12: #000000;
$bg_color_13: #f0f4f7;
$bg_color_14: #ecac00;
$bg_color_15: #ffcc00;
$bg_color_16: #383838;
$bg_color_17: #8f9ea5;
$bg_color_18: #9da2a5;

body {
  font-family: "istok_webregular", sans-serif;
  background: url(../img/bg.png) repeat;
  position: relative;
}

.input_2 {
  padding: 5px 6px 5px 6px;
  font-size: 12px;
  border: 1px solid $border_color_1;
  @include border_radius(10px, 10px, 10px, 10px);
}


.btn_cnt {
  margin: 30px 0 30px 0;
  .btn {
    cursor: hand;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    width: 240px;
    display: block;
    text-align: center;
    @include double_gradient($bg_color_15, $bg_color_14);
    border: 1px solid $bg_color_14;
    color: $text_color_4;
    &:hover {
      background: $bg_color_14;
    }
  }
}

.form_block {
  .title {
    color: $text_color_1;
    margin: 0 0 10px 0;
    font-size: 14px;
  }
  .form {
    padding: 20px;
    margin: 0;
    background: $bg_color_13;
    .inputs {
      width: 100%;
      float: left;
      &.w50 {
        width: 50%;
      }
      &.oferta {
        padding: 25px 15px 15px 15px;
        box-sizing: border-box;
      }
    }
    @extend %clearfix;
    .link {
      color: $text_color_3;
    }
    .input {
      padding: 7px 0 7px 0;
      input[type="text"], textarea {
        border: 1px solid $border_color_10;
      }
      .drop_file_input {
        .upload_btn {
          cursor: hand;
          width: 40px;
          height: 40px;
          float: left;
          background: url(../img/upload_btn.png) no-repeat;
        }
        .drop_zone {
          width: 195px;
          font-size: 11px;
          float: left;
          color: $text_color_8;
          text-align: center;
          padding: 5px;
          margin: 0 0 0 20px;
          box-sizing: border-box;
          border: 1px dashed $border_color_5;
        }
        @extend %clearfix;
        input[type="file"] {
          display: none;
        }
      }
      input[type="text"] {
        width: 100%;
        padding: 7px;
        font-size: 12px;
        color: $text_color_6;
      }
      .btn {
        margin: 0 auto;
        padding: 10px 20px 10px 20px;
        width: 240px;
        display: block;
        @include double_gradient($bg_color_15, $bg_color_14);
        border: 1px solid $bg_color_14;
        color: $text_color_4;
        &:hover {
          background: $bg_color_14;
        }
      }
      textarea {
        width: 100% !important;
        height: 90px;
        padding: 7px;
        font-size: 12px;
        color: $text_color_6;
      }
      input[type="checkbox"] {
        display: none;
      }
      label {
        font-size: 12px;
        color: $text_color_1;
      }
      input[type="checkbox"] + label {
        .fake_checkbox {
          width: 15px;
          height: 15px;
          float: left;
          margin: 0 5px 0 0;
          background: url(../img/unchecked_box.png) no-repeat;
        }
      }
      input[type="checkbox"]:checked + label {
        color: $text_color_3;
        &.no_color {
          color: $text_color_1 !important;
        }
        .fake_checkbox {
          background: url(../img/checked_box.png) no-repeat;
        }
      }
    }
  }
}

header {
  margin-top: 10px;
  .company_logo {
    margin-left: 5px;
    display: block;
    width: 221px;
    height: 65px;
    background: url(../img/company_logo.png) no-repeat;
    transition: 0.5s all;
    &:hover {
      transition: 0.5s all;
      background: url(../img/company_logo_hover.png) no-repeat;
    }
  }
  .contacts {
    float: left;
    margin: 0 10px 0 15px;
    .number, .mail {
      color: $text_color_1;
      text-decoration: none;
      display: block;
    }
    .number {
      font-size: 18px;
      margin-top: 14px;
    }
    .mail {
      font-size: 14px;
      margin-top: 4px;
    }
  }
  .onec_logo {
    display: block;
    float: left;
    margin: 0 0 0 5px;
    width: 131px;
    height: 68px;
    background: url(../img/1c_logo.png) no-repeat;
    transition: 0.5s all;
    &:hover {
      transition: 0.5s all;
      background: url(../img/1c_logo_hover.png) no-repeat;
    }
  }
  #search_form {
    width: 300px;
    float: right;
    position: relative;
    margin: 14px 0 10px 0;
    .search_input {
      width: 100%;
    }
    input[type=submit] {
      position: absolute;
      top: 4px;
      right: 7px;
      width: 15px;
      height: 15px;
      background: url(../img/search_btn.png) no-repeat;
      border: 0;
    }
  }
  .btns {
    float: right;
    .btn {
      float: left;
      margin: 0 0 0 25px;
      font-size: 12px;
      line-height: 18px;
      cursor: hand;
      .icon {
        float: left;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        &.phone_icon {
          transition: 0.5s all;
          background: url(../img/phone_btn.png) no-repeat;
        }
        &.request_icon {
          transition: 0.5s all;
          background: url(../img/request_btn.png) no-repeat;
        }
      }
      &:hover {
        .phone_icon {
          transition: 0.5s all;
          background: url(../img/phone_btn_hover.png) no-repeat;
        }
        .request_icon {
          transition: 0.5s all;
          background: url(../img/request_btn_hover.png) no-repeat;
        }
      }
    }
    #order_phone_btn {
      color: $text_color_2;
    }
    #order_request_btn {
      color: $text_color_3;
    }
    @extend %clearfix;
  }
  @extend %clearfix;
}

nav {
  .header_menu {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    background: $bg_color_1;
    padding: 2px 0 5px 0;
    .first_menu_item {
      width: 12.5%;
      float: left;
      a {
        display: block;
        text-decoration: none;
        color: $text_color_4;
        font-size: 12px;
        width: 100%;
        border-right: 1px solid $border_color_2;
        box-sizing: border-box;
        padding: 15px 5px 15px 5px;
        text-align: center;
        @include double_gradient($bg_color_1, $bg_color_2);
        transition: 0.5s all;
        &:hover {
          transition: 0.5s all;
          color: $text_color_5;
        }
      }
      &.active {
        a {
          transition: 0.5s all;
          color: $text_color_5;
          @include double_gradient($bg_color_3, $bg_color_4);
        }
      }
    }
    @extend %clearfix;
  }
}

.content {
  margin: 5px 0 5px 0;
  aside {
    .aside_menu {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        width: 100%;
        a {
          width: 100%;
          display: block;
          padding: 12px 5px 12px 40px;
          font-size: 12px;
          text-decoration: none;

          box-sizing: border-box;
        }
      }
      .first_menu_item {
        a {
          background: $bg_color_1;
          color: $text_color_5;
        }
      }
      .second_menu {
        margin: 0;
        padding: 0;
        list-style: none;
        .second_menu_item {
          a {
            background: $bg_color_5;
            color: $text_color_6;
            border-top: 1px solid $border_color_4;
            border-bottom: 1px solid $border_color_4;
          }
        }
        .third_menu {
          margin: 0;
          padding: 0;
          list-style: none;
          .third_menu_item {
            position: relative;
            a {
              background: $bg_color_6;
              color: $text_color_7;
              border-bottom: 1px solid $border_color_4;
            }
            .icon {
              position: absolute;
              &.box_icon {
                top: 10px;
                left: 13px;
                width: 15px;
                height: 17px;
                background: url(../img/box_icon.png) no-repeat;
              }
            }

            &.active, &:hover {
              a {
                @include double_gradient($bg_color_7, $bg_color_8);
              }
            }

          }
        }
      }
    }
  }
  .main_slider {}
  .section_title {
    position: relative;
    width: 100%;
    margin: 20px 0 20px 0;
    z-index: 10;
    .line {
      position: absolute;
      width: 100%;
      height: 1px;
      background: $bg_color_9;
      top: 7px;
      left: 0;
      z-index: -1;
    }
    .title {
      margin: 0 auto 0 auto;
      padding: 0 7px 0 7px;
      text-transform: uppercase;
      color: $text_color_1;
      background: $bg_color_6;
      display: table;
      font-size: 14px;
    }
    .link {
      transition: 0.5s all;
      color: $text_color_1;
      float: right;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        transition: 0.5s all;
        color: $text_color_3;
      }
    }
    &.left {
      .title {
        display: inline;
        margin: 0 0 0 30px;
      }
    }
    @extend %clearfix;
  }
  .gallery_widget {
    .values {
      padding: 0;
      margin: 15px 0 15px 0;
      list-style: none;
      height: 100px;
      .value {
        float: left;
        height: 100%;
        width: auto;
        margin: 0 5px 0 5px;
        img {
          height: 100%;
          width: auto;
          border: 1px solid $border_color_1;
          cursor: hand;
          transition: 0.5s all;
          &:hover {
            transition: 0.5s all;
            @include box_shadow(0, 0, 5px, 0, $bg_color_2);
          }
        }
      }
      @extend %clearfix;
    }
  }
  .partions_widget {
    .values {
      padding: 0;
      margin: 0;
      list-style: none;
      .value {
        height: 150px;
        float: left;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        a {
          width: 100%;
          height: 100%;
          display: block;
          img {
            width: 100%;
            height: auto;
            position: absolute;
          }
          .title_block {
            position: absolute;
            bottom: 0;
            position: absolute;
            width: 100%;
            .title {
              padding: 5px;
              margin: 0 auto;
              font-size: 12px;
              height: 30px;
              width: 80%;
              background: $bg_color_11;
              position: relative;
              color: $text_color_7;
              z-index: 10;
              text-align: center;
              .left, .right {
                position: absolute;
                bottom: 0;
              }
              .left {
                left: -10px;
                width: 0;
                height: 0;
                border-top: 40px solid transparent;
                border-bottom: 0px solid transparent;
                border-right: 10px solid $bg_color_11;
              }
              .right {
                right: -10px;
                width: 0;
                height: 0;
                border-top: 40px solid transparent;
                border-bottom: 0px solid transparent;
                border-left: 10px solid $bg_color_11;
              }
            }
          }
          .hover {
            position: absolute;
            width: 100%;
            height: 100%;
            line-height: 135px;
            text-align: center;
            color: $text_color_4;
            z-index: 5;
            opacity: 0;
            transition: 0.5s all;
            .bg {
              background: $bg_color_12;
              opacity: 0.5;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
            }
          }
          &:hover {
            .hover {
              transition: 0.5s all;
              opacity: 1;
            }
          }
        }
        &.w10 {
          width: 10%;
        }
        &.w15 {
          width: 15%;
        }
        &.w25 {
          width: 25%;
        }
        &.w40 {
          width: 40%;
        }
        &.w33 {
          width: 33.333333333%;
        }
        &.w60 {
          width: 60%;
        }
        &.w75 {
          width: 75%;
        }
        &.w100 {
          width: 100%;
        }
      }

      @extend %clearfix;
    }
  }
  .programms_widget {
    .values {
      padding: 0;
      margin: 0;
      list-style: none;
      .value {
        height: 150px;
        float: left;
        width: 50%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 5px;
        padding: 0 0 0 5px;
        a {
          width: 100%;
          height: 100%;
          display: block;
          .title_block {
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $bg_color_11;
            box-sizing: border-box;
            padding: 40px 0 0 165px;
            .title {
              font-size: 21px;
              font-weight: bold;
              color: $text_color_7;
            }
            .description {
              font-size: 16px;
              color: $text_color_7;
            }
            .left, .right {
              top: 0;
              width: auto;
              height: 100%;
              position: absolute;
            }
            .left {
              left: 0;
            }
            .right {
              right: 0;
            }
          }
          .hover {
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            line-height: 150px;
            text-align: center;
            opacity: 0;
            color: $text_color_4;
            z-index: 10;
            transition: 0.5s all;
            .bg {
              background: $bg_color_12;
              opacity: 0.5;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
            }
          }
          &:hover {
            .hover {
              transition: 0.5s all;
              opacity: 1;
            }
          }
        }
        &.w50 {
          width: 50%;
          .title, .description {
            max-width: 200px;
          }
        }
        &.w100 {
          width: 100%;
          .title, .description {
            max-width: 380px;
          }
        }
      }
      @extend %clearfix;
    }
  }
  .advantages_widget {
    .values {
      padding: 0;
      margin: 0 0 15px 0;
      list-style: none;
      .value {
        width: 20%;
        float: left;
        .description {
          transition: 0.5s all;
          font-size: 12px;
          text-align: center;
          margin: 10px 0 0 0;
          padding: 0 5px 0 5px;
          box-sizing: border-box;
          cursor: hand;
        }
        .icon {
          width: 89px;
          height: 89px;
          margin: 0 auto;
          cursor: hand;
          transition: 0.5s all;
          &.cert_icon {
            background: url(../img/adv_cert.png) no-repeat;
          }
          &.check_icon {
            background: url(../img/adv_check.png) no-repeat;
          }
          &.base_icon {
            background: url(../img/adv_base.png) no-repeat;
          }
          &.time_icon {
            background: url(../img/adv_time.png) no-repeat;
          }
          &.world_icon {
            background: url(../img/adv_world.png) no-repeat;
          }
        }
        &:hover {
          /*
          .description {
            color: $text_color_5;
          }
          */
          transition: 0.5s all;
          .description {
            color: $text_color_3;
          }
          .cert_icon {
            background: url(../img/adv_cert_hover.png) no-repeat;
          }
          .check_icon {
            background: url(../img/adv_check_hover.png) no-repeat;
          }
          .base_icon {
            background: url(../img/adv_base_hover.png) no-repeat;
          }
          .time_icon {
            background: url(../img/adv_time_hover.png) no-repeat;
          }
          .world_icon {
            background: url(../img/adv_world_hover.png) no-repeat;
          }
        }
      }
      @extend %clearfix;
    }
  }
  .feedback_btn_cnt {
    position: fixed;
    width: 25px;
    height: 145px;
    top: 50px;
    right: 0;
    cursor: hand;
    z-index: 100;
    .feedback_btn, .close_feedback_btn {
      width: 100%;
      height: 100%;
    }
    .feedback_btn {
      background: url(../img/feedback_btn.png) no-repeat;
    }
    .close_feedback_btn {
      display: none;
      background: url(../img/close_feedback_btn.png) no-repeat;
    }
  }
  #feedback_form {
    position: fixed;
    top: 50px;
    right: 0;
    display: none;
    .form_block {
      .form {
        padding-right: 45px;
        background: $bg_color_17;
        .custom_color {
          label {
            color: $text_color_4 !important;
          }
        }
      }
    }
  }
  .breadcrumbs {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    li {
      display: block;
      float: left;
      margin-right: 10px;
      font-size: 12px;
      a, span, &:after {
        color: $text_color_1;
      }
      a {
        margin-right: 10px;
      }
      &:after {
        content: ">";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
    @extend %clearfix;
  }
  .content_block {
    background: $bg_color_6;
    padding: 15px 0 15px 0;
    margin-bottom: 25px;
    #search_filter {
      .form {
        padding: 0;
        background: transparent !important;
      }
      margin: 0 0 0 40px;
      .input {
        float: left;
        padding: 0 10px 0 10px;
        border-right: 2px solid $border_color_1;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
      @extend %clearfix;
    }
    .list_block {
      padding: 20px 40px 20px 40px;
      .list {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        box-sizing: border-box;
        .list_element {
          height: 130px;
          margin-bottom: 10px;
          a {
            transition: 0.5s all;
            display: block;
            height: 100%;
            .image {
              width: 13%;
              overflow: hidden;
              float: left;
              img {
                width: auto;
                height: 100px;
              }
              .date {
                width: 100%;
                color: $text_color_1;
                background: $bg_color_13;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 12px;
              }
            }
            .description {
              width: 87%;
              float: left;
              padding: 10px;
              box-sizing: border-box;
              .title {
                font-size: 14px;
                font-weight: bold;
                color: $text_color_7;
              }
              .text {
                font-size: 12px;
                line-height: 16px;
                color: $text_color_6;
                margin-top: 5px;
              }
            }
          }
          &.item {
            a:hover {
              transition: 0.5s all;
              background: $bg_color_13;
            }
          }
          &.product {
            a {
              .image {
                img {
                  height: 130px;
                }
              }
            }
            &:hover {
              transition: 0.5s all;
              background: $bg_color_7 !important;
            }
          }
          @extend %clearfix;
        }
      }
      .paginator {
        padding: 0;
        margin: 0;
        list-style: none;
        float: right;
        .paginator_item {
          float: left;
          display: block;
          width: 22px;
          height: 20px;
          a, span {
            display: block;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            background: $bg_color_6;
            border: 1px solid $border_color_7;
            text-decoration: none;
            transition: 0.5s all;
            color: $text_color_1;
          }
          a:hover {
            transition: 0.5s all;
            border: 1px solid $border_color_8;
          }
          span {
            font-weight: bold;
            color: $text_color_3;
          }
        }
        @extend %clearfix;
      }
      @extend %clearfix;
    }
    .inner_block {
      width: 100%;
      padding: 0 40px 0 40px;
      box-sizing: border-box;
      .text_title {
        font-size: 18px;
        color: $text_color_8;
        margin: 30px 0 20px 0;
      }
      .small_text_title {
        color: $text_color_7;
        font-size: 15px;
        font-weight: bold;
        .link {
          font-size: 12px;
          color: $text_color_1;
          text-decoration: none;
          margin-left: 5px;
          &:hover {
            color: $text_color_3;
          }
        }
      }
      .text {
        font-size: 12px;
        line-height: 16px;
        .link {
          color: $text_color_3;
        }
        .bold {
          font-weight: bold;
          color: $text_color_1;
        }
        &.bold {
          font-weight: bold;
        }
      }
      .quote_cnt {
        position: relative;
        padding-top: 30px;
        &.activeShowHide {
          .quote {
            display: none;
          }
        }
        .label {
          font-size: 12px;
          position: absolute;
          right: 0;
          top: 0;
          padding: 10px;
          color: $text_color_6;
          background: $bg_color_9;
          border-top: 1px solid $border_color_9;
          border-right: 1px solid $border_color_9;
          cursor: hand;
          .left {
            left: -15px;
            width: 0;
            height: 0;
            top: -2px;
            position: absolute;
            border-top: 34px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 15px solid $bg_color_9;
          }
          &:hover {
            background: $bg_color_18;
          }
        }
        .quote {
          position: relative;
          padding: 20px;
          margin: 0 0 10px 0;
          font-size: 12px;
          background: $bg_color_9;
          border: 1px solid $border_color_9;
          .title {
            color: $text_color_6;
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 15px;
          }
          .quote_text {
            color: $text_color_4;
            margin: 0 0 10px 0;
            &.large, .large {
              font-size: 14px;
            }
          }
          .quote_list {
            padding: 0 30px 0 0;
            margin: 0;
            list-style: none;
            float: left;
            li {
              margin: 10px 0 10px 0;
              a {
                color: $text_color_6;
                text-decoration: none;
              }
              &:before {
                content: ">";
                padding-right: 5px;
                position: relative;
                top: -1px;
                color: $text_color_6;
              }
              &:hover {
                a {
                  color: $text_color_8;
                }
                &:before {
                  color: $text_color_8;
                }
              }
            }
          }
          &.without_label {
            margin-top: 20px !important;
          }
          @extend %clearfix;
        }
      }
      .marked_list {
        font-size: 12px;
        list-style: none;
        padding: 0 0 0 10px;
        li {
          margin: 5px 0 5px 0;
          &:before {
            content: "■";
            padding-right: 5px;
            position: relative;
            top: -1px;
            color: $text_color_8;
          }
        }
      }
      .image {
        width: 30%;
        margin: 0 10px 10px 0;
        float: left;
        img {
          width: 100%;
          height: auto;
          max-height: 500px;
        }
        .description {
          width: 100%;
          padding: 5px;
          font-size: 12px;
          color: $text_color_1;
          background: $bg_color_13;
          box-sizing: border-box;
        }
        &.right {
          float: right;
          margin: 10px 0 10px 10px;
        }
      }
      .contacts {
        width: 100%;
        margin: 20px 0 20px 0;
        .contact_item {
          width: 33%;
          float: left;
          .title {
            font-size: 14px;
            color: $text_color_1;
            margin-bottom: 10px;
          }
          .number, .mail {
            font-size: 18px;
            color: $text_color_7;
            text-decoration: none;
          }
        }
        @extend %clearfix;
      }
      @extend %clearfix;
    }
  }
}

.additional_block {
  margin-top: 20px;
  .g_row {
    background-color: $bg_color_6;
    @include box_shadow(0, 10px, 15px, 0, $bg_color_2);
    .line {
      position: absolute;
      width: 100%;
      height: 1px;
      background: $bg_color_9;
      top: 22px;
      left: 0;
    }
    .title {
      margin: 15px 0 0 40px;
      padding: 0 7px 0 7px;
      text-transform: uppercase;
      color: $text_color_1;
      background: $bg_color_6;
      display: table;
    }
    .last_news {
      .news_slider {
        position: relative;
        overflow: hidden;
        .paginator {
          margin: 0;
          padding: 0;
          list-style: none;
          .paginator_item {
            float: left;
            box-sizing: border-box;
            border-right: 1px solid $border_color_5;
            a {
              transition: 0.5s all;
              text-decoration: none;
              padding: 5px;
              color: $text_color_6;
              background: $bg_color_10;
              font-size: 12px;
              display: block;
              box-sizing: border-box;
              width: 100%;
              text-align: center;
            }
            &.date {
              width: 15%;
            }
            &.link {
              width: 25%;
            }
            &.active, &:hover {
              a {
                transition: 0.5s all;
                color: $text_color_4;
                background: $bg_color_1;
              }
            }
          }
          @extend %clearfix;
        }
        .values {
          margin: 0;
          padding: 0;
          list-style: none;
          position: relative;
          width: 99999px;
          .value {
            padding: 25px 0 25px 0;
            box-sizing: border-box;
            font-size: 12px;
            float: left;
          }
          @extend %clearfix;
        }
      }
    }
    .useful_articles {
      .articles {
        padding: 15px 0 15px 0;
        margin: 0;
        list-style: none;
        .article_item {
          width: 33%;
          float: left;
          min-height: 60px;
          padding: 7px 7px 7px 7px;
          box-sizing: border-box;
          a {
            text-decoration: none;
            font-size: 12px;
            color: $text_color_1;
            transition: 0.5s all;
            &:hover {
              transition: 0.5s all;
              color: $text_color_6;
            }
          }
        }
        @extend %clearfix;
      }
    }
  }
}

#arrow_top {
  width: 25px;
  height: 25px;
  position: fixed;
  right: 50px;
  bottom: 100px;
  background: url(../img/arrow_top.png) no-repeat;
  cursor: hand;
}

footer {
  background: url("../img/footer_bg.png") repeat;
  padding: 25px 0 15px 0;
  .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 17px;
    background: url(../img/arcsis.png) no-repeat;
    display: block;
  }
  .footer_menu {
    padding: 0;
    margin: 0;
    list-style: none;
    .first_menu_item {
      float: left;
      margin-right: 15px;
      a {
        color: $text_color_1;
        font-size: 12px;
        text-decoration: none;
        transition: 0.3s all;
        &:hover {
          transition: 0.3s all;
          color: $text_color_5;
        }
      }
    }
    @extend %clearfix;
  }
  .contacts {
    float: right;
    .number, .mail {
      color: $text_color_4;
      text-decoration: none;
      display: block;
    }
    .number {
      font-size: 18px;;
    }
    .mail {
      float: right;
      font-size: 14px;
      margin-top: 4px;
    }
  }
  .footer_additional_menu {
    margin: 10px 0 10px 0;
    padding: 0;
    list-style: none;
    .first_menu_item {
      padding: 25px 20px 0 0;
      position: relative;
      width: 25%;
      float: left;
      .title {
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 14px;
        color: $text_color_4;
      }
      .second_menu {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        .second_menu_item {
          margin-bottom: 7px;
          a {
            display: block;
            text-decoration: none;
            font-size: 12px;
            color: $text_color_1;
            transition: 0.3s all;
            &:hover {
              transition: 0.3s all;
              color: $text_color_4;
            }
          }
        }
      }
    }
    @extend %clearfix;
  }
}



.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .block {
    width: 100%;
    margin: 50px auto 0 auto;
    .container {
      background: $bg_color_16;
      margin: 0 auto;
      position: relative;
      .complete_flash {
        color: $text_color_1;
        text-align: center;
        padding: 15px 10px 15px 10px;
        display: none;
      }
      .cross {
        cursor: hand;
        position: absolute;
        top: -16px;
        right: -16px;
        width: 15px;
        height: 15px;
        background: url(../img/cross.png) no-repeat;
      }
      .form_block {
        padding: 10px 0 10px 0;
        .title {
          padding: 15px 0 0px 20px;
        }
        .form {
          background: transparent;
          padding: 0 20px 0 20px;
          .link {
            color: $text_color_1;
          }
          .w50:first-child {
            padding-right: 10px;
            box-sizing: border-box;
          }
        }
      }
      @extend %clearfix;
    }
    #order_form {
      display: none;
      width: 350px;
    }
    #request_form {
      display: none;
      width: 350px;
    }
    #image_fullsize {
      display: none;
      width: 550px;
      height: auto;
      max-height: 700px;
      padding: 10px;
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
      }
      .description {
        font-size: 12px;
        padding-top: 10px;
        color: $text_color_4;
        text-align: center;
      }
    }
  }
}