@import "constructions";

.image_slider {
  overflow: hidden;
  position: relative;
  .values {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 99999px;
    position: relative;
    .value {
      float: left;
      a.link {
        width: 100%;
        display: block;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    @extend %clearfix;
  }
  .paginator {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 15px;
    left: 20px;
    z-index: 10;
    .paginator_item {
      float: left;
      width: 20px;
      height: 20px;
      background: black;
      opacity: 0.5;
      margin-right: 5px;
      @include border_radius(10px, 10px, 10px, 10px);
      cursor: hand;
      &.active, &:hover {
        opacity: 1;
      }
    }
  }
}