@charset "UTF-8";
/* line 3, ../sass/constructions.scss */
.image_slider .values:after, .g_row:after, .form_block .form:after, .form_block .form .input .drop_file_input:after, header .btns:after, header:after, nav .header_menu:after, .content .section_title:after, .content .gallery_widget .values:after, .content .partions_widget .values:after, .content .programms_widget .values:after, .content .advantages_widget .values:after, .content .breadcrumbs:after, .content .content_block #search_filter:after, .content .content_block .list_block .list .list_element:after, .content .content_block .list_block .paginator:after, .content .content_block .list_block:after, .content .content_block .inner_block .quote_cnt .quote:after, .content .content_block .inner_block .contacts:after, .content .content_block .inner_block:after, .additional_block .g_row .last_news .news_slider .paginator:after, .additional_block .g_row .last_news .news_slider .values:after, .additional_block .g_row .useful_articles .articles:after, footer .footer_menu:after, footer .footer_additional_menu:after, .popup .block .container:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* line 3, ../sass/sliders.scss */
.image_slider {
  overflow: hidden;
  position: relative;
}
/* line 6, ../sass/sliders.scss */
.image_slider .values {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 99999px;
  position: relative;
}
/* line 12, ../sass/sliders.scss */
.image_slider .values .value {
  float: left;
}
/* line 14, ../sass/sliders.scss */
.image_slider .values .value a.link {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 18, ../sass/sliders.scss */
.image_slider .values .value a.link img {
  width: 100%;
  height: auto;
}
/* line 26, ../sass/sliders.scss */
.image_slider .paginator {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 10;
}
/* line 34, ../sass/sliders.scss */
.image_slider .paginator .paginator_item {
  float: left;
  width: 20px;
  height: 20px;
  background: black;
  opacity: 0.5;
  margin-right: 5px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  cursor: hand;
}
/* line 43, ../sass/sliders.scss */
.image_slider .paginator .paginator_item.active, .image_slider .paginator .paginator_item:hover {
  opacity: 1;
}

@font-face {
  font-family: 'istok_webregular';
  src: url("../fonts/istokweb-regular/istokweb-regular.eot");
  src: url("../fonts/istokweb-regular/istokweb-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-regular/istokweb-regular.woff") format("woff"), url("../fonts/istokweb-regular/istokweb-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 16, ../sass/grid.scss */
.section {
  width: 100%;
  min-width: 1020px;
}

/* line 22, ../sass/grid.scss */
.inner_row {
  width: auto !important;
  min-width: auto !important;
}

/* line 26, ../sass/grid.scss */
.g_row {
  position: relative;
  width: 1020px;
  min-width: 1020px;
  margin: 0 auto;
}
/* line 41, ../sass/grid.scss */
.g_row [class*=g_col_] {
  float: left;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  min-height: 1px;
}

@media screen {
  /* line 53, ../sass/grid.scss */
  [class*=g_col_] {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 58, ../sass/grid.scss */
  .g_col_d_1 {
    width: 8.33333333%;
  }

  /* line 62, ../sass/grid.scss */
  .g_col_d_2 {
    width: 16.66666667%;
  }

  /* line 66, ../sass/grid.scss */
  .g_col_d_3 {
    width: 25%;
  }

  /* line 70, ../sass/grid.scss */
  .g_col_d_4 {
    width: 33.33333333%;
  }

  /* line 74, ../sass/grid.scss */
  .g_col_d_5 {
    width: 41.66666667%;
  }

  /* line 78, ../sass/grid.scss */
  .g_col_d_6 {
    width: 50%;
  }

  /* line 82, ../sass/grid.scss */
  .g_col_d_7 {
    width: 58.33333333%;
  }

  /* line 86, ../sass/grid.scss */
  .g_col_d_8 {
    width: 66.66666667%;
  }

  /* line 90, ../sass/grid.scss */
  .g_col_d_9 {
    width: 75%;
  }

  /* line 94, ../sass/grid.scss */
  .g_col_d_10 {
    width: 83.33333333%;
  }

  /* line 98, ../sass/grid.scss */
  .g_col_d_11 {
    width: 91.66666667%;
  }

  /* line 102, ../sass/grid.scss */
  .g_col_d_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  /* line 111, ../sass/grid.scss */
  [class*=g_col_] {
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 116, ../sass/grid.scss */
  .g_col_m_1 {
    width: 8.33333333%;
  }

  /* line 120, ../sass/grid.scss */
  .g_col_m_2 {
    width: 16.66666667%;
  }

  /* line 124, ../sass/grid.scss */
  .g_col_m_3 {
    width: 25%;
  }

  /* line 128, ../sass/grid.scss */
  .g_col_m_4 {
    width: 33.33333333%;
  }

  /* line 132, ../sass/grid.scss */
  .g_col_m_5 {
    width: 41.66666667%;
  }

  /* line 136, ../sass/grid.scss */
  .g_col_m_6 {
    width: 50%;
  }

  /* line 140, ../sass/grid.scss */
  .g_col_m_7 {
    width: 58.33333333%;
  }

  /* line 144, ../sass/grid.scss */
  .g_col_m_8 {
    width: 66.66666667%;
  }

  /* line 148, ../sass/grid.scss */
  .g_col_m_9 {
    width: 75%;
  }

  /* line 152, ../sass/grid.scss */
  .g_col_m_10 {
    width: 83.33333333%;
  }

  /* line 156, ../sass/grid.scss */
  .g_col_m_11 {
    width: 91.66666667%;
  }

  /* line 160, ../sass/grid.scss */
  .g_col_m_12 {
    width: 100%;
  }
}
/*
  toDO: Добавить анимацию на боковое меню + добавить стиль активного пункта меню

*/
/* line 47, ../sass/main.scss */
body {
  font-family: "istok_webregular", sans-serif;
  background: url(../img/bg.png) repeat;
  position: relative;
}

/* line 53, ../sass/main.scss */
.input_2 {
  padding: 5px 6px 5px 6px;
  font-size: 12px;
  border: 1px solid #dae0e4;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

/* line 61, ../sass/main.scss */
.btn_cnt {
  margin: 30px 0 30px 0;
}
/* line 63, ../sass/main.scss */
.btn_cnt .btn {
  cursor: hand;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  width: 240px;
  display: block;
  text-align: center;
  background: #ffcc00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcc00), color-stop(100%, #ecac00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffcc00 0%, #ecac00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 );
  /* IE6-9 */
  border: 1px solid #ecac00;
  color: #feffff;
}
/* line 73, ../sass/main.scss */
.btn_cnt .btn:hover {
  background: #ecac00;
}

/* line 80, ../sass/main.scss */
.form_block .title {
  color: #95a0a6;
  margin: 0 0 10px 0;
  font-size: 14px;
}
/* line 85, ../sass/main.scss */
.form_block .form {
  padding: 20px;
  margin: 0;
  background: #f0f4f7;
}
/* line 89, ../sass/main.scss */
.form_block .form .inputs {
  width: 100%;
  float: left;
}
/* line 92, ../sass/main.scss */
.form_block .form .inputs.w50 {
  width: 50%;
}
/* line 95, ../sass/main.scss */
.form_block .form .inputs.oferta {
  padding: 25px 15px 15px 15px;
  box-sizing: border-box;
}
/* line 101, ../sass/main.scss */
.form_block .form .link {
  color: #a00038;
}
/* line 104, ../sass/main.scss */
.form_block .form .input {
  padding: 7px 0 7px 0;
}
/* line 106, ../sass/main.scss */
.form_block .form .input input[type="text"], .form_block .form .input textarea {
  border: 1px solid #eef0f1;
}
/* line 110, ../sass/main.scss */
.form_block .form .input .drop_file_input .upload_btn {
  cursor: hand;
  width: 40px;
  height: 40px;
  float: left;
  background: url(../img/upload_btn.png) no-repeat;
}
/* line 117, ../sass/main.scss */
.form_block .form .input .drop_file_input .drop_zone {
  width: 195px;
  font-size: 11px;
  float: left;
  color: #edad00;
  text-align: center;
  padding: 5px;
  margin: 0 0 0 20px;
  box-sizing: border-box;
  border: 1px dashed #ffffff;
}
/* line 129, ../sass/main.scss */
.form_block .form .input .drop_file_input input[type="file"] {
  display: none;
}
/* line 133, ../sass/main.scss */
.form_block .form .input input[type="text"] {
  width: 100%;
  padding: 7px;
  font-size: 12px;
  color: #3c4549;
}
/* line 139, ../sass/main.scss */
.form_block .form .input .btn {
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  width: 240px;
  display: block;
  background: #ffcc00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcc00), color-stop(100%, #ecac00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffcc00 0%, #ecac00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffcc00 0%, #ecac00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 );
  /* IE6-9 */
  border: 1px solid #ecac00;
  color: #feffff;
}
/* line 147, ../sass/main.scss */
.form_block .form .input .btn:hover {
  background: #ecac00;
}
/* line 151, ../sass/main.scss */
.form_block .form .input textarea {
  width: 100% !important;
  height: 90px;
  padding: 7px;
  font-size: 12px;
  color: #3c4549;
}
/* line 158, ../sass/main.scss */
.form_block .form .input input[type="checkbox"] {
  display: none;
}
/* line 161, ../sass/main.scss */
.form_block .form .input label {
  font-size: 12px;
  color: #95a0a6;
}
/* line 166, ../sass/main.scss */
.form_block .form .input input[type="checkbox"] + label .fake_checkbox {
  width: 15px;
  height: 15px;
  float: left;
  margin: 0 5px 0 0;
  background: url(../img/unchecked_box.png) no-repeat;
}
/* line 174, ../sass/main.scss */
.form_block .form .input input[type="checkbox"]:checked + label {
  color: #a00038;
}
/* line 176, ../sass/main.scss */
.form_block .form .input input[type="checkbox"]:checked + label.no_color {
  color: #95a0a6 !important;
}
/* line 179, ../sass/main.scss */
.form_block .form .input input[type="checkbox"]:checked + label .fake_checkbox {
  background: url(../img/checked_box.png) no-repeat;
}

/* line 187, ../sass/main.scss */
header {
  margin-top: 10px;
}
/* line 189, ../sass/main.scss */
header .company_logo {
  margin-left: 5px;
  display: block;
  width: 221px;
  height: 65px;
  background: url(../img/company_logo.png) no-repeat;
  transition: 0.5s all;
}
/* line 196, ../sass/main.scss */
header .company_logo:hover {
  transition: 0.5s all;
  background: url(../img/company_logo_hover.png) no-repeat;
}
/* line 201, ../sass/main.scss */
header .contacts {
  float: left;
  margin: 0 10px 0 15px;
}
/* line 204, ../sass/main.scss */
header .contacts .number, header .contacts .mail {
  color: #95a0a6;
  text-decoration: none;
  display: block;
}
/* line 209, ../sass/main.scss */
header .contacts .number {
  font-size: 18px;
  margin-top: 14px;
}
/* line 213, ../sass/main.scss */
header .contacts .mail {
  font-size: 14px;
  margin-top: 4px;
}
/* line 218, ../sass/main.scss */
header .onec_logo {
  display: block;
  float: left;
  margin: 0 0 0 5px;
  width: 131px;
  height: 68px;
  background: url(../img/1c_logo.png) no-repeat;
  transition: 0.5s all;
}
/* line 226, ../sass/main.scss */
header .onec_logo:hover {
  transition: 0.5s all;
  background: url(../img/1c_logo_hover.png) no-repeat;
}
/* line 231, ../sass/main.scss */
header #search_form {
  width: 300px;
  float: right;
  position: relative;
  margin: 14px 0 10px 0;
}
/* line 236, ../sass/main.scss */
header #search_form .search_input {
  width: 100%;
}
/* line 239, ../sass/main.scss */
header #search_form input[type=submit] {
  position: absolute;
  top: 4px;
  right: 7px;
  width: 15px;
  height: 15px;
  background: url(../img/search_btn.png) no-repeat;
  border: 0;
}
/* line 249, ../sass/main.scss */
header .btns {
  float: right;
}
/* line 251, ../sass/main.scss */
header .btns .btn {
  float: left;
  margin: 0 0 0 25px;
  font-size: 12px;
  line-height: 18px;
  cursor: hand;
}
/* line 257, ../sass/main.scss */
header .btns .btn .icon {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
/* line 262, ../sass/main.scss */
header .btns .btn .icon.phone_icon {
  transition: 0.5s all;
  background: url(../img/phone_btn.png) no-repeat;
}
/* line 266, ../sass/main.scss */
header .btns .btn .icon.request_icon {
  transition: 0.5s all;
  background: url(../img/request_btn.png) no-repeat;
}
/* line 272, ../sass/main.scss */
header .btns .btn:hover .phone_icon {
  transition: 0.5s all;
  background: url(../img/phone_btn_hover.png) no-repeat;
}
/* line 276, ../sass/main.scss */
header .btns .btn:hover .request_icon {
  transition: 0.5s all;
  background: url(../img/request_btn_hover.png) no-repeat;
}
/* line 282, ../sass/main.scss */
header .btns #order_phone_btn {
  color: #88949a;
}
/* line 285, ../sass/main.scss */
header .btns #order_request_btn {
  color: #a00038;
}

/* line 294, ../sass/main.scss */
nav .header_menu {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  background: #3b3b3b;
  padding: 2px 0 5px 0;
}
/* line 300, ../sass/main.scss */
nav .header_menu .first_menu_item {
  width: 12.5%;
  float: left;
}
/* line 303, ../sass/main.scss */
nav .header_menu .first_menu_item a {
  display: block;
  text-decoration: none;
  color: #feffff;
  font-size: 12px;
  width: 100%;
  border-right: 1px solid #3b3b3b;
  box-sizing: border-box;
  padding: 15px 5px 15px 5px;
  text-align: center;
  background: #3b3b3b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3b3b3b 0%, #2d2c2c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #2d2c2c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3b3b3b 0%, #2d2c2c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3b3b3b 0%, #2d2c2c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3b3b3b 0%, #2d2c2c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3b3b3b 0%, #2d2c2c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 );
  /* IE6-9 */
  transition: 0.5s all;
}
/* line 315, ../sass/main.scss */
nav .header_menu .first_menu_item a:hover {
  transition: 0.5s all;
  color: #ffcc00;
}
/* line 321, ../sass/main.scss */
nav .header_menu .first_menu_item.active a {
  transition: 0.5s all;
  color: #ffcc00;
  background: #3a3a3a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3a3a3a 0%, #080808 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3a3a), color-stop(100%, #080808));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3a3a3a 0%, #080808 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3a3a3a 0%, #080808 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3a3a3a 0%, #080808 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3a3a3a 0%, #080808 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 );
  /* IE6-9 */
}

/* line 332, ../sass/main.scss */
.content {
  margin: 5px 0 5px 0;
}
/* line 335, ../sass/main.scss */
.content aside .aside_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 339, ../sass/main.scss */
.content aside .aside_menu li {
  width: 100%;
}
/* line 341, ../sass/main.scss */
.content aside .aside_menu li a {
  width: 100%;
  display: block;
  padding: 12px 5px 12px 40px;
  font-size: 12px;
  text-decoration: none;
  box-sizing: border-box;
}
/* line 352, ../sass/main.scss */
.content aside .aside_menu .first_menu_item a {
  background: #3b3b3b;
  color: #ffcc00;
}
/* line 357, ../sass/main.scss */
.content aside .aside_menu .second_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 362, ../sass/main.scss */
.content aside .aside_menu .second_menu .second_menu_item a {
  background: #dde2e6;
  color: #3c4549;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}
/* line 369, ../sass/main.scss */
.content aside .aside_menu .second_menu .third_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 373, ../sass/main.scss */
.content aside .aside_menu .second_menu .third_menu .third_menu_item {
  position: relative;
}
/* line 375, ../sass/main.scss */
.content aside .aside_menu .second_menu .third_menu .third_menu_item a {
  background: #ffffff;
  color: #000000;
  border-bottom: 1px solid #f3f3f3;
}
/* line 380, ../sass/main.scss */
.content aside .aside_menu .second_menu .third_menu .third_menu_item .icon {
  position: absolute;
}
/* line 382, ../sass/main.scss */
.content aside .aside_menu .second_menu .third_menu .third_menu_item .icon.box_icon {
  top: 10px;
  left: 13px;
  width: 15px;
  height: 17px;
  background: url(../img/box_icon.png) no-repeat;
}
/* line 392, ../sass/main.scss */
.content aside .aside_menu .second_menu .third_menu .third_menu_item.active a, .content aside .aside_menu .second_menu .third_menu .third_menu_item:hover a {
  background: #ffcc00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcc00 0%, #e8b505 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcc00), color-stop(100%, #e8b505));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffcc00 0%, #e8b505 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffcc00 0%, #e8b505 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffcc00 0%, #e8b505 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffcc00 0%, #e8b505 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 );
  /* IE6-9 */
}
/* line 403, ../sass/main.scss */
.content .section_title {
  position: relative;
  width: 100%;
  margin: 20px 0 20px 0;
  z-index: 10;
}
/* line 408, ../sass/main.scss */
.content .section_title .line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #c3ccd1;
  top: 7px;
  left: 0;
  z-index: -1;
}
/* line 417, ../sass/main.scss */
.content .section_title .title {
  margin: 0 auto 0 auto;
  padding: 0 7px 0 7px;
  text-transform: uppercase;
  color: #95a0a6;
  background: #ffffff;
  display: table;
  font-size: 14px;
}
/* line 426, ../sass/main.scss */
.content .section_title .link {
  transition: 0.5s all;
  color: #95a0a6;
  float: right;
  font-size: 12px;
  text-decoration: none;
}
/* line 432, ../sass/main.scss */
.content .section_title .link:hover {
  transition: 0.5s all;
  color: #a00038;
}
/* line 438, ../sass/main.scss */
.content .section_title.left .title {
  display: inline;
  margin: 0 0 0 30px;
}
/* line 446, ../sass/main.scss */
.content .gallery_widget .values {
  padding: 0;
  margin: 15px 0 15px 0;
  list-style: none;
  height: 100px;
}
/* line 451, ../sass/main.scss */
.content .gallery_widget .values .value {
  float: left;
  height: 100%;
  width: auto;
  margin: 0 5px 0 5px;
}
/* line 456, ../sass/main.scss */
.content .gallery_widget .values .value img {
  height: 100%;
  width: auto;
  border: 1px solid #dae0e4;
  cursor: hand;
  transition: 0.5s all;
}
/* line 462, ../sass/main.scss */
.content .gallery_widget .values .value img:hover {
  transition: 0.5s all;
  -webkit-box-shadow: 0 0 5px 0 #2d2c2c;
  -moz-box-shadow: 0 0 5px 0 #2d2c2c;
  box-shadow: 0 0 5px 0 #2d2c2c;
}
/* line 472, ../sass/main.scss */
.content .partions_widget .values {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 476, ../sass/main.scss */
.content .partions_widget .values .value {
  height: 150px;
  float: left;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
/* line 484, ../sass/main.scss */
.content .partions_widget .values .value a {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 488, ../sass/main.scss */
.content .partions_widget .values .value a img {
  width: 100%;
  height: auto;
  position: absolute;
}
/* line 493, ../sass/main.scss */
.content .partions_widget .values .value a .title_block {
  position: absolute;
  bottom: 0;
  position: absolute;
  width: 100%;
}
/* line 498, ../sass/main.scss */
.content .partions_widget .values .value a .title_block .title {
  padding: 5px;
  margin: 0 auto;
  font-size: 12px;
  height: 30px;
  width: 80%;
  background: #eebf02;
  position: relative;
  color: #000000;
  z-index: 10;
  text-align: center;
}
/* line 509, ../sass/main.scss */
.content .partions_widget .values .value a .title_block .title .left, .content .partions_widget .values .value a .title_block .title .right {
  position: absolute;
  bottom: 0;
}
/* line 513, ../sass/main.scss */
.content .partions_widget .values .value a .title_block .title .left {
  left: -10px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 10px solid #eebf02;
}
/* line 521, ../sass/main.scss */
.content .partions_widget .values .value a .title_block .title .right {
  right: -10px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid #eebf02;
}
/* line 531, ../sass/main.scss */
.content .partions_widget .values .value a .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 135px;
  text-align: center;
  color: #feffff;
  z-index: 5;
  opacity: 0;
  transition: 0.5s all;
}
/* line 541, ../sass/main.scss */
.content .partions_widget .values .value a .hover .bg {
  background: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* line 553, ../sass/main.scss */
.content .partions_widget .values .value a:hover .hover {
  transition: 0.5s all;
  opacity: 1;
}
/* line 559, ../sass/main.scss */
.content .partions_widget .values .value.w10 {
  width: 10%;
}
/* line 562, ../sass/main.scss */
.content .partions_widget .values .value.w15 {
  width: 15%;
}
/* line 565, ../sass/main.scss */
.content .partions_widget .values .value.w25 {
  width: 25%;
}
/* line 568, ../sass/main.scss */
.content .partions_widget .values .value.w40 {
  width: 40%;
}
/* line 571, ../sass/main.scss */
.content .partions_widget .values .value.w33 {
  width: 33.333333333%;
}
/* line 574, ../sass/main.scss */
.content .partions_widget .values .value.w60 {
  width: 60%;
}
/* line 577, ../sass/main.scss */
.content .partions_widget .values .value.w75 {
  width: 75%;
}
/* line 580, ../sass/main.scss */
.content .partions_widget .values .value.w100 {
  width: 100%;
}
/* line 589, ../sass/main.scss */
.content .programms_widget .values {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 593, ../sass/main.scss */
.content .programms_widget .values .value {
  height: 150px;
  float: left;
  width: 50%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 0 0 0 5px;
}
/* line 602, ../sass/main.scss */
.content .programms_widget .values .value a {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 606, ../sass/main.scss */
.content .programms_widget .values .value a .title_block {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eebf02;
  box-sizing: border-box;
  padding: 40px 0 0 165px;
}
/* line 614, ../sass/main.scss */
.content .programms_widget .values .value a .title_block .title {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
/* line 619, ../sass/main.scss */
.content .programms_widget .values .value a .title_block .description {
  font-size: 16px;
  color: #000000;
}
/* line 623, ../sass/main.scss */
.content .programms_widget .values .value a .title_block .left, .content .programms_widget .values .value a .title_block .right {
  top: 0;
  width: auto;
  height: 100%;
  position: absolute;
}
/* line 629, ../sass/main.scss */
.content .programms_widget .values .value a .title_block .left {
  left: 0;
}
/* line 632, ../sass/main.scss */
.content .programms_widget .values .value a .title_block .right {
  right: 0;
}
/* line 636, ../sass/main.scss */
.content .programms_widget .values .value a .hover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 150px;
  text-align: center;
  opacity: 0;
  color: #feffff;
  z-index: 10;
  transition: 0.5s all;
}
/* line 647, ../sass/main.scss */
.content .programms_widget .values .value a .hover .bg {
  background: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* line 659, ../sass/main.scss */
.content .programms_widget .values .value a:hover .hover {
  transition: 0.5s all;
  opacity: 1;
}
/* line 665, ../sass/main.scss */
.content .programms_widget .values .value.w50 {
  width: 50%;
}
/* line 667, ../sass/main.scss */
.content .programms_widget .values .value.w50 .title, .content .programms_widget .values .value.w50 .description {
  max-width: 200px;
}
/* line 671, ../sass/main.scss */
.content .programms_widget .values .value.w100 {
  width: 100%;
}
/* line 673, ../sass/main.scss */
.content .programms_widget .values .value.w100 .title, .content .programms_widget .values .value.w100 .description {
  max-width: 380px;
}
/* line 682, ../sass/main.scss */
.content .advantages_widget .values {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
}
/* line 686, ../sass/main.scss */
.content .advantages_widget .values .value {
  width: 20%;
  float: left;
}
/* line 689, ../sass/main.scss */
.content .advantages_widget .values .value .description {
  transition: 0.5s all;
  font-size: 12px;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  cursor: hand;
}
/* line 698, ../sass/main.scss */
.content .advantages_widget .values .value .icon {
  width: 89px;
  height: 89px;
  margin: 0 auto;
  cursor: hand;
  transition: 0.5s all;
}
/* line 704, ../sass/main.scss */
.content .advantages_widget .values .value .icon.cert_icon {
  background: url(../img/adv_cert.png) no-repeat;
}
/* line 707, ../sass/main.scss */
.content .advantages_widget .values .value .icon.check_icon {
  background: url(../img/adv_check.png) no-repeat;
}
/* line 710, ../sass/main.scss */
.content .advantages_widget .values .value .icon.base_icon {
  background: url(../img/adv_base.png) no-repeat;
}
/* line 713, ../sass/main.scss */
.content .advantages_widget .values .value .icon.time_icon {
  background: url(../img/adv_time.png) no-repeat;
}
/* line 716, ../sass/main.scss */
.content .advantages_widget .values .value .icon.world_icon {
  background: url(../img/adv_world.png) no-repeat;
}
/* line 720, ../sass/main.scss */
.content .advantages_widget .values .value:hover {
  /*
  .description {
    color: $text_color_5;
  }
  */
  transition: 0.5s all;
}
/* line 727, ../sass/main.scss */
.content .advantages_widget .values .value:hover .description {
  color: #a00038;
}
/* line 730, ../sass/main.scss */
.content .advantages_widget .values .value:hover .cert_icon {
  background: url(../img/adv_cert_hover.png) no-repeat;
}
/* line 733, ../sass/main.scss */
.content .advantages_widget .values .value:hover .check_icon {
  background: url(../img/adv_check_hover.png) no-repeat;
}
/* line 736, ../sass/main.scss */
.content .advantages_widget .values .value:hover .base_icon {
  background: url(../img/adv_base_hover.png) no-repeat;
}
/* line 739, ../sass/main.scss */
.content .advantages_widget .values .value:hover .time_icon {
  background: url(../img/adv_time_hover.png) no-repeat;
}
/* line 742, ../sass/main.scss */
.content .advantages_widget .values .value:hover .world_icon {
  background: url(../img/adv_world_hover.png) no-repeat;
}
/* line 750, ../sass/main.scss */
.content .feedback_btn_cnt {
  position: fixed;
  width: 25px;
  height: 145px;
  top: 50px;
  right: 0;
  cursor: hand;
  z-index: 100;
}
/* line 758, ../sass/main.scss */
.content .feedback_btn_cnt .feedback_btn, .content .feedback_btn_cnt .close_feedback_btn {
  width: 100%;
  height: 100%;
}
/* line 762, ../sass/main.scss */
.content .feedback_btn_cnt .feedback_btn {
  background: url(../img/feedback_btn.png) no-repeat;
}
/* line 765, ../sass/main.scss */
.content .feedback_btn_cnt .close_feedback_btn {
  display: none;
  background: url(../img/close_feedback_btn.png) no-repeat;
}
/* line 770, ../sass/main.scss */
.content #feedback_form {
  position: fixed;
  top: 50px;
  right: 0;
  display: none;
}
/* line 776, ../sass/main.scss */
.content #feedback_form .form_block .form {
  padding-right: 45px;
  background: #8f9ea5;
}
/* line 780, ../sass/main.scss */
.content #feedback_form .form_block .form .custom_color label {
  color: #feffff !important;
}
/* line 787, ../sass/main.scss */
.content .breadcrumbs {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
/* line 791, ../sass/main.scss */
.content .breadcrumbs li {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
/* line 796, ../sass/main.scss */
.content .breadcrumbs li a, .content .breadcrumbs li span, .content .breadcrumbs li:after {
  color: #95a0a6;
}
/* line 799, ../sass/main.scss */
.content .breadcrumbs li a {
  margin-right: 10px;
}
/* line 802, ../sass/main.scss */
.content .breadcrumbs li:after {
  content: ">";
}
/* line 806, ../sass/main.scss */
.content .breadcrumbs li:last-child:after {
  content: "";
}
/* line 813, ../sass/main.scss */
.content .content_block {
  background: #ffffff;
  padding: 15px 0 15px 0;
  margin-bottom: 25px;
}
/* line 817, ../sass/main.scss */
.content .content_block #search_filter {
  margin: 0 0 0 40px;
}
/* line 818, ../sass/main.scss */
.content .content_block #search_filter .form {
  padding: 0;
  background: transparent !important;
}
/* line 823, ../sass/main.scss */
.content .content_block #search_filter .input {
  float: left;
  padding: 0 10px 0 10px;
  border-right: 2px solid #dae0e4;
}
/* line 827, ../sass/main.scss */
.content .content_block #search_filter .input:first-child {
  padding-left: 0;
}
/* line 830, ../sass/main.scss */
.content .content_block #search_filter .input:last-child {
  border-right: 0;
}
/* line 836, ../sass/main.scss */
.content .content_block .list_block {
  padding: 20px 40px 20px 40px;
}
/* line 838, ../sass/main.scss */
.content .content_block .list_block .list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}
/* line 844, ../sass/main.scss */
.content .content_block .list_block .list .list_element {
  height: 130px;
  margin-bottom: 10px;
}
/* line 847, ../sass/main.scss */
.content .content_block .list_block .list .list_element a {
  transition: 0.5s all;
  display: block;
  height: 100%;
}
/* line 851, ../sass/main.scss */
.content .content_block .list_block .list .list_element a .image {
  width: 13%;
  overflow: hidden;
  float: left;
}
/* line 855, ../sass/main.scss */
.content .content_block .list_block .list .list_element a .image img {
  width: auto;
  height: 100px;
}
/* line 859, ../sass/main.scss */
.content .content_block .list_block .list .list_element a .image .date {
  width: 100%;
  color: #95a0a6;
  background: #f0f4f7;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}
/* line 869, ../sass/main.scss */
.content .content_block .list_block .list .list_element a .description {
  width: 87%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
/* line 874, ../sass/main.scss */
.content .content_block .list_block .list .list_element a .description .title {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
/* line 879, ../sass/main.scss */
.content .content_block .list_block .list .list_element a .description .text {
  font-size: 12px;
  line-height: 16px;
  color: #3c4549;
  margin-top: 5px;
}
/* line 888, ../sass/main.scss */
.content .content_block .list_block .list .list_element.item a:hover {
  transition: 0.5s all;
  background: #f0f4f7;
}
/* line 896, ../sass/main.scss */
.content .content_block .list_block .list .list_element.product a .image img {
  height: 130px;
}
/* line 901, ../sass/main.scss */
.content .content_block .list_block .list .list_element.product:hover {
  transition: 0.5s all;
  background: #ffcc00 !important;
}
/* line 909, ../sass/main.scss */
.content .content_block .list_block .paginator {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}
/* line 914, ../sass/main.scss */
.content .content_block .list_block .paginator .paginator_item {
  float: left;
  display: block;
  width: 22px;
  height: 20px;
}
/* line 919, ../sass/main.scss */
.content .content_block .list_block .paginator .paginator_item a, .content .content_block .list_block .paginator .paginator_item span {
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #dde2e6;
  text-decoration: none;
  transition: 0.5s all;
  color: #95a0a6;
}
/* line 930, ../sass/main.scss */
.content .content_block .list_block .paginator .paginator_item a:hover {
  transition: 0.5s all;
  border: 1px solid #a00038;
}
/* line 934, ../sass/main.scss */
.content .content_block .list_block .paginator .paginator_item span {
  font-weight: bold;
  color: #a00038;
}
/* line 943, ../sass/main.scss */
.content .content_block .inner_block {
  width: 100%;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
}
/* line 947, ../sass/main.scss */
.content .content_block .inner_block .text_title {
  font-size: 18px;
  color: #edad00;
  margin: 30px 0 20px 0;
}
/* line 952, ../sass/main.scss */
.content .content_block .inner_block .small_text_title {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
/* line 956, ../sass/main.scss */
.content .content_block .inner_block .small_text_title .link {
  font-size: 12px;
  color: #95a0a6;
  text-decoration: none;
  margin-left: 5px;
}
/* line 961, ../sass/main.scss */
.content .content_block .inner_block .small_text_title .link:hover {
  color: #a00038;
}
/* line 966, ../sass/main.scss */
.content .content_block .inner_block .text {
  font-size: 12px;
  line-height: 16px;
}
/* line 969, ../sass/main.scss */
.content .content_block .inner_block .text .link {
  color: #a00038;
}
/* line 972, ../sass/main.scss */
.content .content_block .inner_block .text .bold {
  font-weight: bold;
  color: #95a0a6;
}
/* line 976, ../sass/main.scss */
.content .content_block .inner_block .text.bold {
  font-weight: bold;
}
/* line 980, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt {
  position: relative;
  padding-top: 30px;
}
/* line 984, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt.activeShowHide .quote {
  display: none;
}
/* line 988, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .label {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  color: #3c4549;
  background: #c3ccd1;
  border-top: 1px solid #bbc6cc;
  border-right: 1px solid #bbc6cc;
  cursor: hand;
}
/* line 999, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .label .left {
  left: -15px;
  width: 0;
  height: 0;
  top: -2px;
  position: absolute;
  border-top: 34px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 15px solid #c3ccd1;
}
/* line 1009, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .label:hover {
  background: #9da2a5;
}
/* line 1013, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote {
  position: relative;
  padding: 20px;
  margin: 0 0 10px 0;
  font-size: 12px;
  background: #c3ccd1;
  border: 1px solid #bbc6cc;
}
/* line 1020, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .title {
  color: #3c4549;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 1026, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_text {
  color: #feffff;
  margin: 0 0 10px 0;
}
/* line 1029, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_text.large, .content .content_block .inner_block .quote_cnt .quote .quote_text .large {
  font-size: 14px;
}
/* line 1033, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_list {
  padding: 0 30px 0 0;
  margin: 0;
  list-style: none;
  float: left;
}
/* line 1038, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_list li {
  margin: 10px 0 10px 0;
}
/* line 1040, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_list li a {
  color: #3c4549;
  text-decoration: none;
}
/* line 1044, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_list li:before {
  content: ">";
  padding-right: 5px;
  position: relative;
  top: -1px;
  color: #3c4549;
}
/* line 1052, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_list li:hover a {
  color: #edad00;
}
/* line 1055, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote .quote_list li:hover:before {
  color: #edad00;
}
/* line 1061, ../sass/main.scss */
.content .content_block .inner_block .quote_cnt .quote.without_label {
  margin-top: 20px !important;
}
/* line 1067, ../sass/main.scss */
.content .content_block .inner_block .marked_list {
  font-size: 12px;
  list-style: none;
  padding: 0 0 0 10px;
}
/* line 1071, ../sass/main.scss */
.content .content_block .inner_block .marked_list li {
  margin: 5px 0 5px 0;
}
/* line 1073, ../sass/main.scss */
.content .content_block .inner_block .marked_list li:before {
  content: "■";
  padding-right: 5px;
  position: relative;
  top: -1px;
  color: #edad00;
}
/* line 1082, ../sass/main.scss */
.content .content_block .inner_block .image {
  width: 30%;
  margin: 0 10px 10px 0;
  float: left;
}
/* line 1086, ../sass/main.scss */
.content .content_block .inner_block .image img {
  width: 100%;
  height: auto;
  max-height: 500px;
}
/* line 1091, ../sass/main.scss */
.content .content_block .inner_block .image .description {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  color: #95a0a6;
  background: #f0f4f7;
  box-sizing: border-box;
}
/* line 1099, ../sass/main.scss */
.content .content_block .inner_block .image.right {
  float: right;
  margin: 10px 0 10px 10px;
}
/* line 1104, ../sass/main.scss */
.content .content_block .inner_block .contacts {
  width: 100%;
  margin: 20px 0 20px 0;
}
/* line 1107, ../sass/main.scss */
.content .content_block .inner_block .contacts .contact_item {
  width: 33%;
  float: left;
}
/* line 1110, ../sass/main.scss */
.content .content_block .inner_block .contacts .contact_item .title {
  font-size: 14px;
  color: #95a0a6;
  margin-bottom: 10px;
}
/* line 1115, ../sass/main.scss */
.content .content_block .inner_block .contacts .contact_item .number, .content .content_block .inner_block .contacts .contact_item .mail {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

/* line 1128, ../sass/main.scss */
.additional_block {
  margin-top: 20px;
}
/* line 1130, ../sass/main.scss */
.additional_block .g_row {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 15px 0 #2d2c2c;
  -moz-box-shadow: 0 10px 15px 0 #2d2c2c;
  box-shadow: 0 10px 15px 0 #2d2c2c;
}
/* line 1133, ../sass/main.scss */
.additional_block .g_row .line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #c3ccd1;
  top: 22px;
  left: 0;
}
/* line 1141, ../sass/main.scss */
.additional_block .g_row .title {
  margin: 15px 0 0 40px;
  padding: 0 7px 0 7px;
  text-transform: uppercase;
  color: #95a0a6;
  background: #ffffff;
  display: table;
}
/* line 1150, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider {
  position: relative;
  overflow: hidden;
}
/* line 1153, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .paginator {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 1157, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .paginator .paginator_item {
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
}
/* line 1161, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .paginator .paginator_item a {
  transition: 0.5s all;
  text-decoration: none;
  padding: 5px;
  color: #3c4549;
  background: #e8ebed;
  font-size: 12px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
/* line 1173, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .paginator .paginator_item.date {
  width: 15%;
}
/* line 1176, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .paginator .paginator_item.link {
  width: 25%;
}
/* line 1180, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .paginator .paginator_item.active a, .additional_block .g_row .last_news .news_slider .paginator .paginator_item:hover a {
  transition: 0.5s all;
  color: #feffff;
  background: #3b3b3b;
}
/* line 1189, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .values {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 99999px;
}
/* line 1195, ../sass/main.scss */
.additional_block .g_row .last_news .news_slider .values .value {
  padding: 25px 0 25px 0;
  box-sizing: border-box;
  font-size: 12px;
  float: left;
}
/* line 1206, ../sass/main.scss */
.additional_block .g_row .useful_articles .articles {
  padding: 15px 0 15px 0;
  margin: 0;
  list-style: none;
}
/* line 1210, ../sass/main.scss */
.additional_block .g_row .useful_articles .articles .article_item {
  width: 33%;
  float: left;
  min-height: 60px;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
}
/* line 1216, ../sass/main.scss */
.additional_block .g_row .useful_articles .articles .article_item a {
  text-decoration: none;
  font-size: 12px;
  color: #95a0a6;
  transition: 0.5s all;
}
/* line 1221, ../sass/main.scss */
.additional_block .g_row .useful_articles .articles .article_item a:hover {
  transition: 0.5s all;
  color: #3c4549;
}

/* line 1233, ../sass/main.scss */
#arrow_top {
  width: 25px;
  height: 25px;
  position: fixed;
  right: 50px;
  bottom: 100px;
  background: url(../img/arrow_top.png) no-repeat;
  cursor: hand;
}

/* line 1243, ../sass/main.scss */
footer {
  background: url("../img/footer_bg.png") repeat;
  padding: 25px 0 15px 0;
}
/* line 1246, ../sass/main.scss */
footer .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 17px;
  background: url(../img/arcsis.png) no-repeat;
  display: block;
}
/* line 1255, ../sass/main.scss */
footer .footer_menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 1259, ../sass/main.scss */
footer .footer_menu .first_menu_item {
  float: left;
  margin-right: 15px;
}
/* line 1262, ../sass/main.scss */
footer .footer_menu .first_menu_item a {
  color: #95a0a6;
  font-size: 12px;
  text-decoration: none;
  transition: 0.3s all;
}
/* line 1267, ../sass/main.scss */
footer .footer_menu .first_menu_item a:hover {
  transition: 0.3s all;
  color: #ffcc00;
}
/* line 1275, ../sass/main.scss */
footer .contacts {
  float: right;
}
/* line 1277, ../sass/main.scss */
footer .contacts .number, footer .contacts .mail {
  color: #feffff;
  text-decoration: none;
  display: block;
}
/* line 1282, ../sass/main.scss */
footer .contacts .number {
  font-size: 18px;
}
/* line 1285, ../sass/main.scss */
footer .contacts .mail {
  float: right;
  font-size: 14px;
  margin-top: 4px;
}
/* line 1291, ../sass/main.scss */
footer .footer_additional_menu {
  margin: 10px 0 10px 0;
  padding: 0;
  list-style: none;
}
/* line 1295, ../sass/main.scss */
footer .footer_additional_menu .first_menu_item {
  padding: 25px 20px 0 0;
  position: relative;
  width: 25%;
  float: left;
}
/* line 1300, ../sass/main.scss */
footer .footer_additional_menu .first_menu_item .title {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 14px;
  color: #feffff;
}
/* line 1307, ../sass/main.scss */
footer .footer_additional_menu .first_menu_item .second_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
/* line 1312, ../sass/main.scss */
footer .footer_additional_menu .first_menu_item .second_menu .second_menu_item {
  margin-bottom: 7px;
}
/* line 1314, ../sass/main.scss */
footer .footer_additional_menu .first_menu_item .second_menu .second_menu_item a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #95a0a6;
  transition: 0.3s all;
}
/* line 1320, ../sass/main.scss */
footer .footer_additional_menu .first_menu_item .second_menu .second_menu_item a:hover {
  transition: 0.3s all;
  color: #feffff;
}

/* line 1334, ../sass/main.scss */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
/* line 1342, ../sass/main.scss */
.popup .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
}
/* line 1352, ../sass/main.scss */
.popup .block {
  width: 100%;
  margin: 50px auto 0 auto;
}
/* line 1355, ../sass/main.scss */
.popup .block .container {
  background: #383838;
  margin: 0 auto;
  position: relative;
}
/* line 1359, ../sass/main.scss */
.popup .block .container .complete_flash {
  color: #95a0a6;
  text-align: center;
  padding: 15px 10px 15px 10px;
  display: none;
}
/* line 1365, ../sass/main.scss */
.popup .block .container .cross {
  cursor: hand;
  position: absolute;
  top: -16px;
  right: -16px;
  width: 15px;
  height: 15px;
  background: url(../img/cross.png) no-repeat;
}
/* line 1374, ../sass/main.scss */
.popup .block .container .form_block {
  padding: 10px 0 10px 0;
}
/* line 1376, ../sass/main.scss */
.popup .block .container .form_block .title {
  padding: 15px 0 0px 20px;
}
/* line 1379, ../sass/main.scss */
.popup .block .container .form_block .form {
  background: transparent;
  padding: 0 20px 0 20px;
}
/* line 1382, ../sass/main.scss */
.popup .block .container .form_block .form .link {
  color: #95a0a6;
}
/* line 1385, ../sass/main.scss */
.popup .block .container .form_block .form .w50:first-child {
  padding-right: 10px;
  box-sizing: border-box;
}
/* line 1393, ../sass/main.scss */
.popup .block #order_form {
  display: none;
  width: 350px;
}
/* line 1397, ../sass/main.scss */
.popup .block #request_form {
  display: none;
  width: 350px;
}
/* line 1401, ../sass/main.scss */
.popup .block #image_fullsize {
  display: none;
  width: 550px;
  height: auto;
  max-height: 700px;
  padding: 10px;
  box-sizing: border-box;
}
/* line 1408, ../sass/main.scss */
.popup .block #image_fullsize img {
  width: 100%;
  height: auto;
}
/* line 1412, ../sass/main.scss */
.popup .block #image_fullsize .description {
  font-size: 12px;
  padding-top: 10px;
  color: #feffff;
  text-align: center;
}
