/*
Sass::SyntaxError: ".image_slider .values" failed to @extend "%clearfix".
The selector "%clearfix" was not found.
Use "@extend %clearfix !optional" if the extend should be able to fail.


Backtrace:
/vagrant/ivanovosto_html_coding/sass/slider.scss:11
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/util/subset_map.rb:106:in `block in each_value'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/util/subset_map.rb:106:in `each'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/util/subset_map.rb:106:in `each_value'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/tree/visitors/extend.rb:16:in `visit'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/tree/root_node.rb:39:in `css_tree'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/tree/root_node.rb:20:in `render'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/engine.rb:278:in `render'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `each'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:293:in `watch'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/bin/compass:44:in `call'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/bin/compass:23:in `load'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/bin/compass:23:in `<main>'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/bin/ruby_executable_hooks:15:in `eval'
/home/vagrant/.rvm/gems/ruby-2.0.0-p647/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".image_slider .values\" failed to @extend \"%clearfix\".\A The selector \"%clearfix\" was not found.\A Use \"@extend %clearfix !optional\" if the extend should be able to fail.\A "; }
