/* line 3, ../sass/constructions.scss */
.image_slider .values:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* line 3, ../sass/sliders.scss */
.image_slider {
  overflow: hidden;
  position: relative;
}
/* line 6, ../sass/sliders.scss */
.image_slider .values {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 99999px;
  position: relative;
}
/* line 12, ../sass/sliders.scss */
.image_slider .values .value {
  float: left;
}
/* line 14, ../sass/sliders.scss */
.image_slider .values .value a.link {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 18, ../sass/sliders.scss */
.image_slider .values .value a.link img {
  width: 100%;
  height: auto;
}
/* line 26, ../sass/sliders.scss */
.image_slider .paginator {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 10;
}
/* line 34, ../sass/sliders.scss */
.image_slider .paginator .paginator_item {
  float: left;
  width: 20px;
  height: 20px;
  background: black;
  opacity: 0.5;
  margin-right: 5px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  cursor: hand;
}
/* line 43, ../sass/sliders.scss */
.image_slider .paginator .paginator_item.active, .image_slider .paginator .paginator_item:hover {
  opacity: 1;
}
